
#bootstrap-overrides {
	background: url(img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.images {
margin: auto;
}
